*{
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
    
}
body, html{
    height: 100vh;
}
#conteudo{
    display: flex;
}
#menu-options >ul>li>a{
    color:azure;
}

#menu{
    height: 100vh;
    width: 250px;
    background-color: #2d3643;
    /*background-color:rgb(197, 192, 192);
    /*display: flex;
    /*align-items:baseline;
    /*justify-content:space-between;*/
    padding-top: 15px;
    padding-left: 5px;
}
#menu-options{
    padding: 5px;
   
}

#options li{
     margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    

}
#header-rigth{
    
    margin-right: 5px;
   

}

/* #seller:hover, #cleint:hover, #represented:hover,
#payment:hover, #price:hover, #product:hover,
#requests:hover, #report:hover{ */
    #options > li:hover{
    background-color: darkgrey;
    font-size: 19px;
}
#top{
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}


#panel{
    color: black;
    height: 100vh;
    width: 100%;
    background-color:whitesmoke;
    /* display: flex;
    justify-content: space-between; */
    padding-left: 10px;
    padding-right: 5px;
}
#panel >ul{
    
    padding: 10px;
}
#header-options{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 0px;
    

}
#panel-header{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    
        
}

#avatar img{
    border: 1px solid black;
    border-radius: 10px;
}
#panel-header >li>a{
    
    color: black;
        
}
#panel-header >li{
    margin-left: 15px;
    margin-right: 15px;

}

#panel-header >li:hover{
    background-color: darkgrey;
    
}

#header-left{
    display: flex;
    justify-items:end;


}
#nav{
    background-color:darkgray;
   margin-top: 10px;
   margin-bottom: 10px;
}
#header1{
    display: flex;
    justify-content: space-between;
   }
   #return{
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#return-li{
    position: relative;
    left:5px ;
}
#return-li > a:hover{
    font-size: 18px;
    color:rgb(50, 50, 168);
}
#return-li > a{
    text-decoration: none;
    color:black;
}


   th {
  /* border: 1px solid black; */
  background-color:rgb(231, 228,232);
  height: 30px;
  text-align: left;
}
table {
    display: table;
    border-collapse:collapse;
    border-spacing: 2px;
    border-color: gray;
    width: 100%;
    
  }
  tr:nth-child(even) {
    background:rgb(239, 236,236)
  }
  tr{
    border-bottom: 1px solid darkgray;
    
  }
  td{
    height: 30px;
  }




#product{
    background-color: cadetblue;
    
}
#product > a{
    color: red;
    font-size: 19px;
}
#frm {
    border:1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 300px;
    padding-left: 10px;
    padding-bottom: 30px;
      
}

.Product-input{
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.btn{
    position: relative;
    top:20px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    background-color:cadetblue;
    width: 100px;
    height: 30px;
    
    
}
.btn:hover{
    background-color:darkgray;
    color: aliceblue;
}
