*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}


header{
    
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#img{
    position: absolute;
    left: 25px;
    
   
}

header .menu{
    color: white;
    display: flex;
    
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    right: -60px;
}

.feminino, .masculino, .inverno, .promo {
    margin-right: 7px;
    margin-left: 30px;
}
.links{
    color: white;
    text-decoration:none;
    font-size: inherit;
}

.links:hover{
    border-bottom: solid 1px yellow;
    transition: 2s linear;
}
header label{
    color: aliceblue;
}

header .pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px white;
    width: 250px;
    height: 30px;
}

#pesquisa1{
    border: none;
    background: none;
    outline:none ;
    color: aliceblue;
    margin-left: 10px;
    
}
.redes{
    
    width: 10%;
    height: 30px;
    position: relative;
    right: -70px;
    display:flex ;

}
.login{
    
    width: 50%;
    height: 30px;
    color: aliceblue;
    display: flex;
    align-items:center ;

}
.cadastro{
    display: flex;
    align-items: center;

}


#img2{
    width: 30px;
    height: 30px;

}
#linkvalor{
    color: black;
    text-decoration: none;

}

#carrocel{
   
    width: 100%;
    height: 400px;
    border: solid 1px black;
    display: flex;
    overflow: hidden;
    outline: 3px solid black;
    box-shadow: 10px 10px 15px;
}

.imgcarrocel{
   
    width: 1450px;
    height: 400px;
}
.imgcarrocel1{

    width: 1450px;
    height: 400px;
}
.imgcarrocel2{
    
    width: 1450px;
    height: 400px ;
}


#carrocel ul{
    display: flex;
    list-style: none;
    width: 1300px;
    height: 400px;
}
#carrocel li{
    position: relative;
    animation: slide 15s infinite linear;
}

@keyframes slide {
    0% {left: 0px}
    33% {left: -1450px}
    66%{left: -2900px}
    100% {left: 0px}
}

#vitrine{
    width: 100%;
    height: 750px;
    
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.vitrine1{
    width: 20%;
    height: 50%;
    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.imagempd{
    width: 100%;
    height: 75%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.texto{
    width: 100%;
    height: 15%;
    
    display: flex;
    justify-content: center;
}
.valor{
    width: 100%;
    height: 10%;
   
    display: flex;
    justify-content: center;

}
#blablabla{
    width: 100%;
    height: 75%;

}
#marcas{
   
    width: 100%;
    height: 70px;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;


}
 
#marcas h1 {
    color: white;


}




.novidades{
    border: solid 1px black;
    width: 100%;
    height: 700px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    


}
#carrocel2{
   
    width: 100%;
    height: 400px;
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
   
   
   
}

#carrocel2 .img1{
  
    height: 100%;
    display: flex;
    align-items: center;


}
#carrocel2 .img2{
    
    height: 100%;
    display: flex;
    align-items: center;


}
#carrocel2 .img3{
    
    height: 100%;
    display: flex;
    align-items: center;


}

#carrocel2 .img1 img{
width: 350px;

}
#carrocel2 .img2 img{
    width: 350px;
    
}
#carrocel2 .img3 img{
    width: 350px;
    
}





.footer-distributed {
    background: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: center;
    padding: 50px 60px 40px;
    overflow: hidden;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px sans-serif, cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span {
    color: yellow;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

