* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    

}

body,
html {
    height: 100vh;
}

#conteudo {
    display: flex;
    
}
#top {
    padding-top: 20px;
    padding-bottom: 40px;

}

#menu-options>ul>li>a {
    color: azure;
}

#img-Avatar {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    padding-left: 5px;
}

#avatar-name {
    margin-left: 10px;
    margin-top: 10px;
}

#menu {
    height: 100vh;
    width: 260px;
    background-color: #2d3643;
    padding-left: 5px;
}

#menu-options {
    padding: 5px;

}

#options li {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#header-rigth {
    margin-right: 10px;
}


#options>li:hover {
    cursor: not-allowed;
}

#options>li>a:hover {
    cursor: not-allowed;
}


#panel {
    color: black;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 5px;
}

#panel>ul {

    padding: 10px;
}

#header-options {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 0px;


}

#panel-header {
    display: flex;
    margin-right: 5px;
    height: 30px;
 }

.Product-input {
    padding-top: 15px;
    padding-left: 15px;
}

#avatar img {
    border: 1px solid black;
    border-radius: 10px;
}

#panel-header>li>a {
    color: black;

}

#panel-header>li {
    margin-left: 15px;
    margin-right: 15px;

}

#panel-header>li:hover {
    background-color: darkgrey;

}

#header-left {
    display: flex;
    justify-items: end;


}

#nav {
    background-color: darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header1 {
    display: flex;
    justify-content: space-between;
}

th {
    /* border: 1px solid black; */
    background-color: rgb(231, 228, 232);
    height: 30px;
    text-align: left;
}

#return {
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    margin-right: 5px;
}

#return-a {
    position: relative;
    left: 2px;
    top: 10px;
    text-decoration: none;
    color: black;
}
input{
    height: 20px;
    border-radius: 5px;
    
}
select{
    height: 25px;
    border-radius: 5px;
    
}




table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
    width: 100%;

}

tr:nth-child(even) {
    background: rgb(239, 236, 236)
}

tr {
    border-bottom: 1px solid darkgray;

}

td {
    height: 30px;
}

td:first-child {
    width: 10%
}

td:first-child+td {
    width: 20%
}

td:first-child+td+td {
    width: 20%
}

td:first-child+td+td+td {
    width: 10%
}

td:first-child+td+td+td+td+td {
    width: 10%
}

td:first-child+td+td+td+td+td+td {
    width: 10%
}

td:first-child+td+td+td+td+td+td+td {
    width: 10%
}

td:first-child+td+td+td+td+td+td+td+td {
    width: 10%
}

#div-table {

    border: 1px solid darkgray;
}

#product {
    background-color: cadetblue;
    text-decoration-color: red;
}

#product>a {
    color: red;
    font-size: 19px;
}

#btn {

    text-decoration: none;
    color: azure;
    cursor: pointer;
    border-radius: 5px;
    background-color:  #2d3643;
    width: 120px;
    height: 35px;
    
}
#btn:hover{
    background-color: darkgray;
}


#btn-img a {
    text-decoration: none;
    color: azure;
}



#btn-txt {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#search>a {

    position: relative;
    left: -25px;
    top: 3px;
}