* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham;
  color: white;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
  
}


a {
  font-size: .8rem;
}

a:hover {
  color: #bdd9ec;
}

#login-container {
  /* background-color:#FFF; */
  background-color:#2d3643;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 25px;
  margin-top: 10vh;
  border-radius: 5px;
  text-align: center;
  border: solid rgb(15, 15, 15);
}
#password-img img{
  position: relative;
  bottom: 55px;
  left: 150px;
}
#password-img img:hover{
  
  cursor: pointer;
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

label,
input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: black;
  border-radius: 7px;
  
}

input:focus {
  border-bottom: 2px solid #080808;
}

#forgot-pass {
  display: block;
  text-align: right;
}
.error-alert {
  font-size: 1.2rem;
  color: red;
}

#btn {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  /* color: #FFF;
  background-color: black; */
  color: black;
  background-color:rgb(241, 236, 236);
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #1B223C;
  transition: .5s;
}

#cadastrar-container p {
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  #login-container {
    width: 300px;

  }
  #password-img img{
    
    left: 100px;
  }
}