header{
   
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-10px
   
 }
 #img{
    position: absolute;
    left: 25px;
    
   
 }
 
 .menu{
    color: white;
    display: flex;
    
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    right: -60px;
 }
 .feminino, .masculino, .inverno, .promo {
    margin-right: -5%;
    margin-left: 10%;
 }
 .links{
    color: white;
    text-decoration:none;
    font-size: inherit;
 }
 
 .links:hover{
    border-bottom: solid 1px yellow;
    transition: 2s linear;
 }
 header label{
    color: aliceblue;
 }
 
 header .pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px white;
    width: 15%;
    height: 34%;
 }
 
 #pesquisa1{
    border: none;
    background: none;
    outline:none ;
    color: aliceblue;
    margin-left: 4%;
    
 }
 .redes{
    
    width: 10%;
    height: 30%;
    position: relative;
    right: -5%;
    display:flex ;
    justify-content: center;
    align-items: center;
 }
 .login{
    
    width: 50%;
    height: 30px;
    color: aliceblue;
    display: flex;
    align-items:center ;
 
 }
 .cadastro{
    display: flex;
    align-items: center;
 
 }
 
 
 #img2{
    width: 30px;
    height: 30px;
 
 }
 section{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: 50px ;
   

 }


 
.products{
   border: solid 1px black;
   width: 300px;
   height: 350px;
   margin-bottom: 50px ;
  
}

.imgVitrine{
   border: solid 1px black;
   width: 100%;
   height: 50%;

}
.precoVitrine{
   border: solid 1px black;
   width: 100%;
   height: 10%;
   display: flex;
   
   justify-content: center;

}
.precoVitrine h3{
   font-size: 20px;
   position: relative;
   top: -18px
}
.linkVisualizar{
    text-decoration: none;
    color: black;


}
