header {
  width: 100%;
  /* height: 100px;
  background-color: red; */
  
}
.error-alert{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 50px;
  
  
}
.display-flex{
  display: flex;
  flex-flow: row;
}
.error-alert a{
  text-align: center;
  text-decoration: underline;
  color: darkgray;
  font-weight: bold;
  
  
}



#section-principal {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 28%;
  grid-column-gap: 2%;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
 

}
#products-summary-total{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
#products-summary-value {
 text-align: right;
 /* margin-top: -10px; */
}
.text-bold{
  font-weight: bold;
}
#btn-continue{
  background-color: black;
  margin-top: 20px;
  color: aliceblue;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 10px;

}
#div-btn-continue{
  width: 100%;
  text-align: center;
  
}
#div-btn-continue a {
  text-decoration: underline;
  color: black;
  

}

#products-summary-ul{
  border-bottom: 1px solid gray;
  list-style: none;
  padding:0;
  
  
}
.products-summary-li{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-right: 10px;
  padding-bottom: 5px;
}

#div-products-descriptions {
  height: auto;
  padding-left: 5px;
}

#div-products-summary {
  height: auto;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  /* background-color: rgb(248, 248, 248); */
  background-color: rgb(206, 199, 199);
 
}

img {
  max-width: 80px;
  max-height: 80px;
}

#product-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  border-bottom: 1px solid gray;

}

#product-list-qtde-container a{
  text-decoration: none;
  color: darkgray;
  margin-left: 10px;
}

#product-shipping {
  display: flex;
  margin-top: 30px;
  margin-bottom: 5px;

}

#product-shipping button {
  background-color: black;
  margin-top: 20px;
  color: aliceblue;
  width: 50px;
  height: 30px;
  border-radius: 5px;

}

#product-shipping a {
  text-decoration: none;
  color: darkgray;
  font-weight: bold;


}

#shipping-search-zipcode {
  margin-top: 25px;
  margin-left: 10px;
}

#shipping-calculate {
  display: flex;
  flex-direction: column;
  margin-right: 10px;


}

#shipping-calculate input {
  width: 150px;
  height: 25px;
  border-radius: 5px;
}


#product-list-title {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  border-bottom: 1px solid gray;
  grid-column-gap: 5px;
}

#product-list-qtde {
  margin-top: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  display: flex;
  text-align: center;
}

#product-list-shipping {
  margin-top: 30px;
}

#product-list-price {
  margin-top: 30px;
  font-weight: bold;
}
#product-list-qtde a {
  text-decoration: none;
  color: darkgray;

}

#product-list-qtde input {
  width: 30px;
  border: transparent;
  text-align: center;

}

#product-list-qtde button {
  background-color: transparent;
  border: transparent;
  color: black;
  font-weight: bold;

}

@media (max-width: 1000px) {
  #section-principal {
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-row-gap: 10px;

  }
}

@media (max-width: 770px) {
  #product-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 1px solid black; */
    /* grid-column-gap: 5px; */

    border-bottom: 1px solid gray;

    height: auto;


  }

  #product-list-title {
    display: none;
  }

  #product-list-shipping {
    display: none;
  }

  #product-list-price {
    
    text-align: right;

  }
   

  #section-principal {
    height: auto;

  }
  #shipping-search-zipcode {
    display: none;
  }
  #product-list-qtde-container{
    margin-bottom: 5px;
  }
}