* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham;
  color: #080808;
  border: none;
}
body {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

}
.class-nav{
  width: 100%;
  height: 85px;
  background: #212529;
 
  
 }
 .class-img{
  margin-top: 20px;
  margin-left: 25px;
 }
.error-alert2 {
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 0.75rem;
  color: red;
}
span {
  font-size: 15px;
}

.display-radio{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
 
}

.radio-btn{
  width: 20px;

}
.genre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 10px;
  text-align:start;
}

.invisible{
  display: none;
}


.title {
  display: flex;

}
.title span {
  color: red;
}
textarea:focus,
input:focus {
  outline: none;

}
#login-container {
  background: linear-gradient(-45deg, #f3f0ee, #e6e3e2, #d4d0d0);
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  padding: 25px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  border: solid rgb(15, 15, 15);
}
.password-img img {
  position: relative;
  bottom: 50px;
  left: 150px;
}

.password-img {
  height: 55px;
 }

.password-img img:hover {
  cursor: pointer;
}


label,
input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: .8rem;
}
input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: black;
  border-radius: 7px;
  border: 1px solid black;

}

input:focus {
  border-bottom: 2px solid #080808;
}

#forgot-pass {
  display: block;
  text-align: right;
  
}

.error-alert {
  font-size: 1.2rem;
  color: red;
}
#btn {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  background-color: black;
  color: #fff;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #1B223C;
  transition: .5s;

}
input[type="submit"] {
  margin-top: -20px;

}
#cadastrar-container p {
  margin-bottom: 10px;
}
.message-error {
  color: rgb(241, 14, 14);
  font-size: 0.75rem;
  /* display: none; */
  position: absolute;
  bottom: -15px;
  left: 0;
}
#container-cadastro form input.error {
  border: 2px solid rgb(245, 16, 16);
}

@media (max-width: 500px) {
  #login-container {
    width: 300px;

  }
  .password-img img{
    
    left: 100px;
  }
  .class-nav {
    
    text-align: center;
  }
  .genre {
    
    grid-template-columns: 1fr 1fr;
   
  }
}
