<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrador</title>
    <link rel="stylesheet" href="/css/adminProduct.css">
    <script src="../controllers/AdminController.js"></script>

</head>

<body>
    <span id="conteudo">
        <div id="menu">
            <div id="top">
                <ul>
                    <li><img src="/img/logo.png"></li>
                </ul>
            </div>

            <div id="menu-options">
                <ul id="options">

                    <% if(userPermission===2) {%>
                        <li id="seller"> <img src="/img/add-user.png">
                            <a> Usuários</a>
                        </li>
                        <hr>

                        <% }%>
                            <li id="cleint"> <img src="/img/cleint.png">
                                <a href=""> Fornecedores</a>
                            </li>
                            <hr>
                            <li id="represented"> <img src="/img/home.png">
                                <a href=""> Representada</a>
                            </li>
                            <hr>
                            <li id="payment"> <img src="/img/payment-plans.png">
                                <a href=""> Planos de Pagamento</a>
                            </li>
                            <hr>
                            <li id="price"> <img src="/img/price.png">
                                <a href=""> Tabela de Preços</a>
                            </li>
                            <hr>
                            <li id="product"> <img src="/img/product.png">
                                <a href="""> Produtos</a>
                    </li>
                    <hr>
                    <li id=" requests"> <img src="/img/cart.png">
                                    <a href="">Pedidos</a>
                            </li>
                            <hr>
                            <li id="report"> <img src="/img/report.png">
                                <a href="">Relatórios</a>
                            </li>
                            <hr>

                </ul>
            </div>




        </div>

        <div id="panel">
            <div id="header-options">
                <div id="img-Avatar">
                    <div>
                        <ul>
                            <li id="avatar"> <img src="/img/businessman.png"> </li>
                        </ul>
                    </div>
                    <div id="avatar-name">
                        <ul>
                            <li>
                                <%= user %>
                            </li>
                        </ul>
                    </div>

                </div>

                <div id="panel-header">
                    <div id="return">
                        <img src="/img/arrow.png" alt="">
                    </div>

                    <div id="panel-header-option">
                        <a id="return-a" href="/administrator/product"> Retornar </a>
                    </div>

                </div>
            </div>
            <hr>
            <div id="nav">
                > Administrador/ Produtos / Cadastrar
            </div>
            <h2>Cadastrar Produtos</h2>
            <section id="frm">
                <form action="/administrator/product/create" method="post" enctype="multipart/form-data">
                    <div class="container-input">


                        <div class="Product-input">
                            <label for="genre-id">Gênero:</label>
                            <select name="genre" id="genre-id">
                                <option value="" selected>Selecione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                            </select>
                        </div>
                        <div class="Product-input">
                            <label for="mark-id">Marca:</label>
                            <select name="mark" id="mark-id">
                                <option value="" selected>Selecione</option>
                                <option value="Adidas">Adidas</option>
                                <option value="Mizuno">Mizuno</option>
                                <option value="Nike">Nike</option>
                                
                            </select>
                        </div>
                        <div class="Product-input">
                            <label for="style-id">Estilo:</label>
                            <select name="style" id="style-id">
                                <option value="" selected>Selecione</option>
                                <option value="Esportivo">Esportivo</option>
                                <option value="Casual">Casual</option>
                                <option value="Social">Social</option>
                            </select>
                        </div>
                        <div class="Product-input">
                            <label for="number-id">Numero:</label>
                            <input type="text" name="number" id="number-id" />
                        </div>

                        <div class="Product-input">
                            <label for="model-id">Modelo:</label>
                            <input type="text" name="productModel" id="model-id"> </input type="text">
                        </div>

                    </div>

                    <div class="container-input">
                        <div class="Product-input">
                            <label for="cost-id">Custo:</label>
                            <input type="number" name="costValue" id="cost-id" />
                        </div>
                        <div class="Product-input">
                            <label for="sale-id">Venda:</label>
                            <input type="number" name="saleValue" id="sale-id" />
                        </div>

                        <div class="Product-input">
                            <label for="special-id">Especial:</label>
                            <input type="number" name="specialValue" id="special-id" />
                        </div>

                        <div class="Product-input">
                            <label for="quantity-id">Quantidade:</label>
                            <input type="text" name="quantity" id="quantity-id" />
                        </div>


                    </div>
                    <div class="container-input">
                        <div class="Product-input">
                            <label for="description-id">Titulo:</label>
                            <textarea name="description" id="description-id"> </textarea>
                        </div>

                    </div>
                    <div class="container-input">
                        <div class="Product-input">
                            <label for="descriptions-id">Descrição:</label>
                            <textarea name="descriptions" id="descriptions-id"> </textarea>
                        </div>

                    </div>
                    <div class="Product-input">
                        <label class="picture" for="picture-input" tabIndex="0">
                            <input type="file" accept="image/png" name="picture-input" id="picture-input" />
                            <span class="picture-image"></span>
                        </label>

                    </div>


                    <div id="btn-options">
                        <input type="submit" value="Gravar"  class="btn">
                        <input type="reset" value="Limpar" class="btn">
                    </div>

                </form>
                <% if(locals.error){%>

                    <h3 class="error-alert2">
                        <%= error.message %>
                    </h3>

                    <%}%>
            </section>


        </div>
        <div id="id02" class="modal">
            <div class="modal-content animate-zoom card-4">
                <header class="container teal">
                    <span onclick="document.getElementById('id02').style.display='none'"
                        class=" button display-topright">&times;</span>
                    <h2>Atenção!</h2>
                </header>
                <div class="container">
                    <h4>Todos os campos devem ser preenchidos!</h4>
                    <br>

                </div>

            </div>


    </span>
    <script src="/js/adminProduct.js"></script>
</body>

</html>