<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    
    <link rel="stylesheet" href="./css/home.css">
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>
<body>


    
    <div class="headermobile">
        <div class="abremenu"> 
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="logomenu">
            <div id="imgTablet">
                <img src="img/logo.png" alt="img"/>
            </div>
        </div>
           
    </div>
    
   
    <header class="header">
        <div id="img">
        <img src="img/logo.png" alt="img"/>
        </div>
            <div class="menu">
                <div class="feminino"> <a class="links" href="./"> Home </a> </div>  
                <div class="masculino"> <a class="links" href=""> Categoria </a> </div>
                <div class="inverno"> <a class="links" href="/produtos"> Produtos </a> </div>
                 <div class="promo"> <a class="links" href=""> Promoções </a> </div> 
            </div>
            
            <div class="pesquisa">
                <label for="pesquisa"> </label>
                <img id="img2" src="img/lupa.png" alt="lupa">
                <input type="text" id="pesquisa1" name="pesquisa" placeholder="Pesquisar"/>
            </div>
            <div class="redes">
                <div class="login">
                    <a class="links" href="/login"> Login </a>
                </div>
                <div class="cadastro">
                    <a class="links" href="/painelCliente"> Cadastro </a>
                </div>
            </div>
    </header>

   
        <div id="carrocel">
            <ul>
                <li> <div class="imgcarrocel"> <img class="imgcarrocel" src="./img/procarrocel.jpg" alt="carrocel"> </div> </li>
                <li> <div class="imgcarrocel1"><img class="imgcarrocel" src="./img/procarrocel1.jpg" alt="carrocel"> </div> </li>
                <li> <div class="imgcarrocel2"><img class="imgcarrocel" src="./img/procarrocel2.jpg" alt="carrocel"> </div> </li>
            </ul>
        </div>

         
        <section id="vitrine">
            <% for(var prodc of products){ %>
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                 </div>
                 <div class="texto">
                     <h4><%= prodc.description %> </h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="/paginaDeProduto"> <%= prodc.saleValue %>  </a>

                </div>
            </div>
            <% } %> 
         </section>
         
        
        <section id="marcas">
            <h1> MARCAS</h1>

        </section>
        <div class="novidades"> 
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>
             
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>

            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>

            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>

        </div>

        <section id="marcas">
            <h1> MAIS VENDIDOS</h1>

        </section>
        <div class="novidades"> 
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>
             
            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>

            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>

            <div class="vitrine1">
                <div class="imagempd">
                    <img id="blablabla" src="./img/tenis1.png" alt="tenis">
                </div>
                <div class="texto">
                     <h4>NIKE</h4>
                </div>
                <div class="valor">
                    <a id="linkvalor" href="www.google.com"> R$ 450,00 </a>
                </div>
            </div>
        </div>


        <footer class="footer-distributed">

            <div class="footer-left">
    
                <h3>NOME<span>logo</span></h3>
    
                <p class="footer-links">
                    <a class="linkfooter" href="#">Home</a> ·
                    <a class="linkfooter" href="#">About</a> ·
                    <a class="linkfooter" href="#">Faq</a> ·
                    <a class="linkfooter" href="#">Contact</a>
                </p>
    
                <p class="footer-company-name">MVRCA © 2022</p>
    
                <div class="footer-icons">
    
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
    
    
                </div>
    
    
    
        </footer>

    
        
    <script type="text/javascript" src="js/home.js"></script>
</body>
</html>