<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <link rel="stylesheet" href="/css/paginaDeProduto.css" />
    <!-- <link rel="stylesheet" href="./img" /> -->
</head>
<body>

    <!-- Header Victor Hugo -->

    <div class="headermobile">
        <div class="abremenu"> 
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="logomenu">
            <div id="imgTablet">
                <img src="img/logo.png" alt="img"/>
            </div>
        </div>
           
</div>
    
   
    <header class="header">
        <div id="img">
        <img src="img/logo.png" alt="img"/>
        </div>
            <div class="menu">
                <div class="feminino"> <a class="links" href=""> Feminino </a> </div>  
                <div class="masculino"> <a class="links" href=""> Maculino </a> </div>
                <div class="inverno"> <a class="links" href=""> Inverno </a> </div>
                 <div class="promo"> <a class="links" href=""> Promoções </a> </div> 
            </div>
            
            <div class="pesquisa">
                <label for="pesquisa"> </label>
                <img id="img2" src="img/lupa.png" alt="lupa">
                <input type="text" id="pesquisa1" name="pesquisa" placeholder="Pesquisar"/>
            </div>
            <div class="redes">
                <div class="login">
                    <a class="links" href="login.html"> Login </a>
                </div>
                <div class="cadastro">
                    <a class="links" href=""> Cadastro </a>
                </div>
            </div>
    </header>

   
        <div id="carrocel">
            <ul>
                <li> <div class="imgcarrocel"> <img class="imgcarrocel" src="./img/procarrocel.jpg" alt="carrocel"> </div> </li>
                <li> <div class="imgcarrocel1"><img class="imgcarrocel" src="./img/procarrocel1.jpg" alt="carrocel"> </div> </li>
                <li> <div class="imgcarrocel2"><img class="imgcarrocel" src="./img/procarrocel2.jpg" alt="carrocel"> </div> </li>
            </ul>
        </div>

        <!-- Final Header Victor Hugo -->

        <!-- Main Marcel de Sousa -->
    
    <main>
        <div id="container-ppSubPage">
            <a href="/tipo" class="ppTmm"><b>TENIS ></b></a>
            <a href="/tipo/marca" class="ppTmm"><b>MARCA ></b></a>
            <a href="/tipo/marca/modelo" class="ppTmm"><b>MODELO ></b></a>
        </div>

        <div id="container-ppVerticalCatalog">
            <div>
                <ul class="ppVTs">
                    <img class="ppVT" src="../img/TENIS-RECORTESTP1.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP2.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP3.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP4.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP5.jpg" />
                </ul> 

                <div id="container-ppZoom">
                    <img class="ppZoom1"src="../img/TENIS-RECORTESTP1.jpg" width="600" height="400" />
                </div>
                
                <div id="container-ppDescription">
                    <ul class="ppDescription">
                        <li class="ppDescInf"><b>DESCRIÇÃO:</b>
                            <p>
                                <br>PRM056 Tênis confeccionado em material sintético.
                                <br>Esse modelo de tênis básico é ideal para o dia a dia, pois atende diversos looks.
                                <br>Seu solado é antiderrapante, com detalhe bicolor em borracha flexível, o que traz maior conforto ao caminhar.
                                <br>Clássica amarração de cadarços com costura reforçada e construção de bico levemente arredondado</br>
                            </p>
                        </li>
                        <br></br>
                        <li class="ppDescInf"><b>MATERIAL:</b>
                            <p>
                                <br>PRM056 Tênis confeccionado em material sintético.</br>
                            </p>
                        </li>
                        <br></br>
                        <li class="ppDescInf">
                            <br></br>
                            <p>
                                <br><b>COMO CUIDAR DO SEU ORIGINAL MR. CAT:</b></br>
                                
                                <br><b>NOBUCK E CAMURÇA</b> – LIMPAR COM ESCOVA DE BORRACHA OU ARAME MACIO.</br>
                                
                                <br>DEPOIS DE LIMPO, APLICAR O RENOVADOR DE COR E O IMPERMEABILIZANTE PARA PROTEGER.<br>
                                
                                <br><b>COUROS LISOS</b> – LIMPAR COM FLANELA SECA E LIMPA OU ESCOVA MACIA.</br>
                                
                                <br>APLICAR MOUSSE NA COR DO COURO OU INCOLOR.</br>
                                
                                <br>APÓS SECAR, LUSTRAR COM UMA FLANELA SECA E LIMPA OU ESCOVA MACIA.</br>
                                
                                <br><b>VERNIZ</b> – LIMPAR CUIDADOSAMENTE COM ESCOVA DE BORRACHA OU FLANELA ÚMIDA.</br>
                                
                                <br>DEPOIS DE LIMPO, LUSTRAR COM UMA FLANELA SECA E LIMPA.</br>
                                
                                <br><b>TECIDOS</b> – LIMPAR COM ESCOVA DE BORRACHA OU MESMO COM BORRACHA DE LÁPIS LIMPA.</br>
                                
                                <br>DEPOIS PASSAR UMA ESCOVA MACIA, APLICAR IMPERMEABILIZANTE PARA PROTEGER.</br>
                                
                                <br><b>CORES CLARAS</b> – O CONTATO COM ROUPAS ESCURAS, COMO JEANS, PODE MANCHAR SEU ORIGINAL MR. CAT.</br>
                                
                                <br><b>DETALHES EM METAL</b> – EVITE ATRITOS, FRICÇÃO OU IMPACTO SOBRE O METAL, PORQUE SÃO PEÇAS DELICADAS.</br>
                                
                                <br>PARA LIMPAR, UTILIZE FLANELA SECA E LIMPA.</br>
                                
                                <br><b>E LEMBRE-SE ...</b></br>
                                
                                <br>... O SEU ORIGINAL MR. CAT É FABRICADO COM COUROS ESPECIALMENTE TRATADOS, POR ISSO PODEM APRESENTAR MARCAS, PEQUENOS ARRANHÕES E DIFERENÇAS DE TONALIDADE, O QUE NÃO SÃO DEFEITOS, MAS CARACTERÍSTICAS NATURAIS DA PELE.</br>
                                
                                <br><b>CUIDE BEM DO SEU MR. CAT.</b> VOCÊ PERCEBERÁ QUE QUANTO MAIS O TEMPO PASSA, MAIS PESSOAL E BONITO ELE FICA.</br>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>   

            <div id="container-ppInfProduct">
                <div id="container-ppTitle">
                    <h1>TÊNIS RECOTES TAUPE</h1>
                </div>

                <div id="container-ppDe">
                    <em class="ppDe">
                        De: 
                        <strong>R$ 279,90</strong>
                    </em>
                
                    <em class="ppPor">
                        Por: 
                        <strong>R$ 179,90</strong>
                    </em>
    
                    <em class="ppOu">
                        <span>
                            Ou
                            <label class="nVezes">
                                2
                                <span class="ppX">X</span>
                            </label>
                                de
                                <strong>
                                    <label>R$ 89,95</label>
                                </strong>
                        </span>
                    </em>
                </div>
                    
                <div id="container-ppCor">
                    <label for="cores">COR: </label>
                    <label for="cor">TAUPE</label>
                </div>

                <div id="container-ppTamanho">
                    <label><b>TAMANHOS</b></label>
                    <ul class="ppMedida">
                        <li class="ppMedidas">41</li>
                        <li class="ppMedidas">42</li>
                        <li class="ppMedidas">43</li>
                        <li class="ppMedidas">44</li>
                        <li class="ppMedidas">45</li>
                        <li class="ppMedidas">46</li>
                    </ul>
                </div>

                <div id="container-ppCompras">
                    <a class="ppButtom" href="./confirmacao" ><b>COMPRAR</b></a>
                </div>

                <div>
                    <article class="ppObs">
                        <p>
                            1ª troca grátis na loja online em até 30 dias! Devoluções em até 07 dias corridos da data do recebimento.
                        </p>
                    </article>
                </div>

                <div id="container-ppCores">
                    <label>CORES</label>
                    <ul class="ppOtherCor">
                        <img class="ppOther" src="../img/TENIS-RECORTESMH1.jpg" />
                        <img class="ppOther" src="../img/TENIS-RECORTESOW1.jpg" />
                    </ul>
                </div>
                <div id="container-ppEntrega">
                    <img src="../img/caminhao2.png" alt="" width="70" height="70" />
                    <div class="ppEntrega">
                        <p>
                            ENTREGA EM ATÉ 48H
                        </p>
                        <p>
                            Das nossas lojas físicas para sua casa
                        </p>
                    </div>
                </div>
                <div id="container-ppCalcule">
                    <p class="ppCalcule">
                        CALCULE O FRETE, O PRAZO DE ENTREGA E DISPONIBILIDADE EM UMA DE NOSSAS LOJAS FÍSICAS:
                    </p>
                    <div class="ppCep">
                        <input
                        id="pppCep"
                        name="cep"
                        placeholder="cep"
                        required pattern="\d{5}-\d{3}"/>
                        <input type="submit" value="CALCULAR">
                    </div>
                </div>

                <div id="container-ppCompreWhats">
                    <div class="ppCompre">
                        <img src="../img/whatsapp.png" alt="" width="50" height="50" />
                        <p>
                            Compre com um de nossos vendedores pelo Whats app
                        </p>
                    </div>
                    <div class="ppCompartilhe">
                        <img src="../img/compartilhar.png" alt="" width="40" height="40" />
                        <p>
                            Compartilhe com seus amigos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Final Main Marcel de Sousa -->

    <!-- Inicio Footer Victor Hugo -->

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>NOME<span>logo</span></h3>

            <p class="footer-links">
                <a class="linkfooter" href="#">Home</a> ·
                <a class="linkfooter" href="#">About</a> ·
                <a class="linkfooter" href="#">Faq</a> ·
                <a class="linkfooter" href="#">Contact</a>
            </p>

            <p class="footer-company-name">MVRCA © 2022</p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>


            </div>



    </footer>

    <!-- Final Footer Victor Hugo -->

</body>
</html>