<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= css %>">
</head>
<body>
  <div class="headermobile">
    <div class="abremenu"> 
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="logomenu">
        <div id="imgTablet">
            <img src="img/logo.png" alt="img"/>
        </div>
    </div>
       
</div>
<header class="header">
  <div id="img">
  <img src="img/logo.png" alt="img"/>
  </div>
      <div class="menu">
          <div class="feminino"> <a class="links" href="./"> Home </a> </div>  
          <div class="masculino"> <a class="links" href=""> Categoria </a> </div>
          <div class="inverno"> <a class="links" href="/produtos"> Produtos </a> </div>
           <div class="promo"> <a class="links" href=""> Promoções </a> </div> 
      </div>
      
      <div class="pesquisa">
          <label for="pesquisa"> </label>
          <img id="img2" src="img/lupa.png" alt="lupa">
          <input type="text" id="pesquisa1" name="pesquisa" placeholder="Pesquisar"/>
      </div>
      <div class="redes">
          <div class="login">
              <a class="links" href="/login"> Login </a>
          </div>
          <div class="cadastro">
              <a class="links" href="/painelCliente"> Cadastro </a>
          </div>
      </div>
</header>